<% @latestrecipe.each do |r| %>
<li><%= r.dish_name %></li>
<li><% if r.country %><%= r.country.name %></li><% end %>
<li><%= r.difficulty %></li>
<li><%= r.preperation_time %></li>
<li><%= ingredient_names(r.ingredients) %></li>
<li><%= preperation_steps(r.preperations) %></li>
<% end %> 