<h1>Recipe Home Page when logged in</h1>

<h1>Recipes</h1>

<table>
  <tr>
    <th>Name Of Dish</th>
    <th>Country Of Origin</th>
    <th>Difficulty</th>
    <th>Preperation Time</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>

  <% @recipes.each do |r| %>
  <tr>
    <td><%= r.dish_name %></td>
    <td><%= r.country_of_origin %></td>
    <td><%= r.difficulty %></td>
    <td><%= r.preperation_time %></td>
    <td><%= link_to "Delete Recipe", recipe_path(r.id), :confirm => "Are you sure?", :method => :delete %></td>
    <td><%= link_to "Edit Recipe", edit_recipe_path(r.id) %>
 </tr>

  <% end %>
</table>