<div class="container">
  <div class="row">
    <div class="span8">
      <h3><%= @recipe.dish_name %></h3>
      <div class="thumbnail noBorder">
      <%= image_tag @recipe.avatar.url(:showrecipe), :class=> "left" %>
    </div>
      <p class="name">by&nbsp;<%= @recipe.user.name %></p>
      <i class="icon-time icon-large"></i><span class="time"><%= @recipe.preperation_time %></span><br>
      <i class="icon-info-sign icon-large"></i><span class="time"><%= @recipe.difficulty %></span>
      <h3>Description</h3>
      <p class="description"><%= @recipe.description %></p>
      <h3>Ingredients</h3>
      <ul class="show">
      <li><%= raw(ingredient_names_list(@recipe.ingredients)) %></li>
    </ul>
      <br>
      <h3>Method</h3>
       <ol class="method">
        <li><%= raw(preperation_steps_list(@recipe.preperations)) %></li></br>
       </ol>
  </div>

    <div class="span4">
      <h3>Related Recipes</h3>
      <% @related_recipes.each do |r| %>
       <% if r.dish_name %><%= link_to r.dish_name, r %><% end %>


        <% end %>




    
    </div>

      




  </div>
</div>
</div>
 
