<div class="container">
  <div class="row">
    <div class="span8">
      <b><%= @recipe.dish_name %></b><br>
      <b><%= image_tag @recipe.avatar.url(:showrecipe) %><b><br>
      <b>by&nbsp;<%= @recipe.user.name %></b></br></br>
      <b>Description</b></br>
      <b><%= @recipe.description %></b></br>
      <b>Ingredients</b></br>
      <b><%= raw(ingredient_names_list(@recipe.ingredients)) %></b>
      <br>
      <b>Preperation Steps</b></br>
      <ol>
      <li><%= raw(preperation_steps_list(@recipe.preperations)) %></li>
    </ol>
  </div>

    <div class="span4">
      <h3>Related Recipes</h3>
      <% @relatedrecipe.each do |r| %>

    <div class="box">  
    <p><%= link_to r.dish_name, r %></p>
    

  <% end %>
    </div>

      




  </div>
</div>
</div>
 
