<div class="row">
 <% @recipes.each do |r| %>
  <div class="span3">
    <div class="thumbnail">
     <%= image_tag r.avatar.url(:myrecipes) %>
    </div>
   <h4><%= link_to r.dish_name, r %></h4>
   <hr>
   <p><%= r.description %></p>
   <p><%= link_to "Edit Recipe", edit_recipe_path(r.id) %></p>
   <p><%= link_to "Delete Recipe", recipe_path(r.id), :confirm => "Are you sure?", :method => :delete %></p>
   <p><%= link_to "Add to favorites",  {:controller => 'favourites', :action => 'create', :recipe_id => r.id}, {:method => :post } %></p>
  </div>
 <% end %>
</div><!--/row-->
<div class="row">
  <div class="span12">
  <%= will_paginate @recipes %>
</div>
</div>
<br><br>
<li><%= link_to "Create New Recipe", new_recipe_path %></li>

  