<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
  <% end %>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span12">
        <header>
          <h1>RealRecipes</h1>
        </header>
        </div>
      </div>
    </div>
   <div class="container">
    <div class="row">
      <div class="span12">
        <nav>
          <ul class="navBar">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "My Recipes", my_recipes_path %></li>
            <li><%= link_to "All Recipes", all_recipes_path %></li>
            <li><%= link_to "Search Recipes", search_path %></li>
            <li><%= display_login %></li>
          </ul>


        </nav>
      </div>
    </div>
  </div><!--/container-->

    



<%= yield %>



</body>
</html>
